@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic");
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navFlyout {
    overflow: hidden;
}
.flyoutWrap {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.flyoutWrap.active {
    right: 256px;
}
.navbar-menu .menu-link,
.navbar-menu .menu-link:hover,
.navbar-menu .menu-link:active {
    float: right;
    margin-right: -20px;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar-menu .brand {
        float: none;
        margin-left: 0;
        text-align: center;
    }
    .menu[role=navigation] {
        background: #292929;
        clear: both;
        overflow: hidden;
    }
    .flyoutActive .menu[role=navigation] {
        width: 256px;
        height: 100%;
        position: absolute;
        top: 0;
        left: auto;
        right: -256px;
    }
    .menu[role=navigation] li {
        float: none;
    }
    .menu[role=navigation] li a {
        display: block;
        padding: 10px 20px;
        color: #999;
        border-bottom: 1px solid #232323;
    }
    .menu[role=navigation] li a:hover,
    .menu[role=navigation] li a:focus {
        background-color:#333;
        color:#fff;
    }
    .menu[role=navigation] li.divider-vertical {
        display: none;
    }
}
@media screen and (min-width: 767px) {
    body {
        padding: 0;
    }
    .flyoutWrap.active {
        right: 0;
    }
    .flyoutActive .menu[role=navigation] {
        max-width: none;
        position: static;
        width: auto;
    }
    .navbar-menu .menu-link {
        display: none;
    }
}
